<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Main content -->
    <main class="container-fluid px-4">
        <div class="card bg-light my-4">
            <div class="card-header py-3">
            </div>
            <div>
                <p>ID paciente:</p>
                <form th:action="@{/loquesea}">
                    <input type="number" name="value" id="value">
                    <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
                </form>
            </div>
            <br>
            <div class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Primer Apellido</th>
                            <th scope="col">Segundo Apellido</th>
                            <th scope="col">Tarjeta Sanitaria</th>
                            <th scope="col">Categoría</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="paciente: ${tarjetaList}">
                            <div class="accordion-item">
                                <td th:text="${paciente.nombre}">Aitor</td>
                                <td th:text="${paciente.apellido1}">Astorga</td>
                                <td th:text="${paciente.apellido2}">Saez de Vicuña</td>
                                <td th:text="${paciente.tarjetaSanitaria}">12365458</td>
                                <td><span class="badge bg-danger">GRAVE</span></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="aling">
                                <td>Aitor</td>
                                <td>Astorga</td>
                                <td>Saez de Vicuña</td>
                                <td>1236545558</td>
                                <td><span class="badge bg-danger">GRAVE</span></td>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p>Fecha de la cita:</p> <input type="date" id="start" name="trip-start" value="actual"
                            min="actual" max="2030-12-31">
                    </div>

                    <div class="col">
                        <p>Hora de la cita:</p>
                        <input type="time" id="appt" name="appt" min="7:30" max="20:00" required>
                    </div>
                </div>
                <br>
                <p>Tarjeta Sanitaria:</p> <input type="text" value=""> <button type="button"
                    class="btn btn-success btn-sm">Verificar</button>
            </div>
            <br>

            <button type="submit" class="btn btn-primary">Generar Cita</button>
        </div>
    </main>
</body>

</html>